.main{
  display: flex;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

img{
  margin: 5px;
}

.shoe{
  float:left;
}

h6 {
  margin: 0px;
}

.name{
  font: 15px arial, sans-sherif;
}

.images{
  width: 75%
}

.NamePrice{
  display: flex;
  justify-content: space-between;
}